Repository Karmicjuju/KireMisu: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bash -c 'cd frontend && npm run format:check'
  language: system
  pass_filenames: false

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

feat: Implement LL-1 - Create Series & Chapter database schemas with essential indexes
  CLAUDE.md
  backend/alembic.ini
  backend/alembic/env.py
  backend/alembic/versions/cf4815a2275e_initial_migration_create_series_and_.py
  backend/kiremisu/__init__.py
  backend/kiremisu/core/config.py
  backend/kiremisu/database/models.py
  backend/kiremisu/main.py
  pyproject.toml
  scripts/dev.sh
  tests/__init__.py
  tests/database/__init__.py
  tests/database/test_migrations.py
  uv.lock
Due: none

missed adds required for LL-1
  frontend/.eslintrc.json
  frontend/.prettierrc
  frontend/next.config.js
  frontend/postcss.config.js
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/tailwind.config.js
  frontend/tsconfig.json
  tests/__init__.py
  tests/database/__init__.py
  tests/database/test_migrations.py
Due: eslint, prettier, typescript

feat(LL-2): complete Library Path CRUD with comprehensive UI tests
  backend/kiremisu/api/__init__.py
  backend/kiremisu/api/library.py
  backend/kiremisu/database/connection.py
  backend/kiremisu/database/schemas.py
  backend/kiremisu/main.py
  backend/kiremisu/services/__init__.py
  backend/kiremisu/services/library_path.py
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/settings/library-paths.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/toast.tsx
  frontend/src/components/ui/toaster.tsx
  frontend/src/hooks/use-toast.ts
  frontend/tests/e2e/library-paths-api.spec.ts
  frontend/tests/e2e/library-paths.spec.ts
  frontend/tests/e2e/navigation.spec.ts
Due: eslint, prettier, typescript

-
  CLAUDE.md
  scripts/dev.sh
  tests/api/__init__.py
  tests/api/test_library_paths.py
  tests/conftest.py
  tests/database/test_migrations.py
  tests/services/__init__.py
  tests/services/test_library_path.py
Due: none

feat: improve frontend test reliability and error handling
  CLAUDE.md
  frontend/.eslintrc.json
  frontend/next.config.js
  frontend/package.json
  frontend/src/components/settings/library-paths.tsx
  frontend/src/components/ui/toaster.tsx
  frontend/src/hooks/use-toast.ts
Due: eslint, prettier, typescript

docs: document frontend test reliability improvements
  CLAUDE.md
Due: none

feat: implement core UI layout with sidebar navigation and dark theme
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/app/(app)/layout.tsx
  frontend/src/app/(app)/library/page.tsx
  frontend/src/app/(app)/page.tsx
  frontend/src/app/(app)/settings/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/layout/header.tsx
  frontend/src/components/layout/navigation-item.tsx
  frontend/src/components/layout/sidebar.tsx
  frontend/src/components/settings/library-paths.tsx
  frontend/src/components/theme-provider.tsx
  frontend/src/components/ui/glass-card.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/stores/navigation.ts
  frontend/src/lib/utils.ts
  frontend/tests/e2e/library-paths-api.spec.ts
  frontend/tests/e2e/library-paths.spec.ts
  frontend/tests/e2e/navigation.spec.ts
Due: eslint, prettier, typescript

feat: add downloads page to complete UI layout
  frontend/src/app/(app)/downloads/page.tsx
Due: eslint, prettier, typescript

chore: update agent configurations for development workflow
  .claude/agents/backend-developer.yml
  .claude/agents/code-reviewer.md
  .claude/agents/fastapi-backend-architect.md
  .claude/agents/frontend-developer.yml
  .claude/agents/qa-test-specialist.md
  .claude/agents/react-frontend-developer.md
Due: none

feat: Core UI Layout with Sidebar Navigation and Dark Theme (#21)
  .claude/agents/backend-developer.yml
  .claude/agents/code-reviewer.md
  .claude/agents/fastapi-backend-architect.md
  .claude/agents/frontend-developer.yml
  .claude/agents/qa-test-specialist.md
  .claude/agents/react-frontend-developer.md
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/app/(app)/downloads/page.tsx
  frontend/src/app/(app)/layout.tsx
  frontend/src/app/(app)/library/page.tsx
  frontend/src/app/(app)/page.tsx
  frontend/src/app/(app)/settings/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/layout/header.tsx
  frontend/src/components/layout/navigation-item.tsx
  frontend/src/components/layout/sidebar.tsx
  frontend/src/components/settings/library-paths.tsx
  frontend/src/components/theme-provider.tsx
  frontend/src/components/ui/glass-card.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/stores/navigation.ts
  frontend/src/lib/utils.ts
  frontend/tests/e2e/library-paths-api.spec.ts
  frontend/tests/e2e/library-paths.spec.ts
  frontend/tests/e2e/navigation.spec.ts
Due: eslint, prettier, typescript

feat(LL-4): implement importer service and manual scan endpoint
  .claude/instructions.md
  .claude/rules/deployment.md
  .claude/rules/development.md
  .env.test
  CLAUDE.md
  backend/kiremisu/api/library.py
  backend/kiremisu/database/schemas.py
  backend/kiremisu/services/__init__.py
  backend/kiremisu/services/importer.py
  docs/kiremisu_tech_stack.md
  frontend/Dockerfile
  frontend/next.config.js
  frontend/public/.gitkeep
  frontend/public/README.md
  frontend/src/app/page.tsx
  frontend/src/components/settings/library-paths.tsx
  frontend/src/lib/api.ts
  frontend/tests/e2e/library-scanning.spec.ts
  pyproject.toml
  tests/api/test_library_scan.py
  tests/conftest.py
  tests/services/test_importer.py
  uv.lock
Due: eslint, prettier, typescript

feat(LL-4): implement importer service and manual scan endpoint (#23)
  .claude/instructions.md
  .claude/rules/deployment.md
  .claude/rules/development.md
  .env.test
  CLAUDE.md
  backend/kiremisu/api/library.py
  backend/kiremisu/database/schemas.py
  backend/kiremisu/services/__init__.py
  backend/kiremisu/services/importer.py
  docs/kiremisu_tech_stack.md
  frontend/Dockerfile
  frontend/next.config.js
  frontend/public/.gitkeep
  frontend/public/README.md
  frontend/src/app/page.tsx
  frontend/src/components/settings/library-paths.tsx
  frontend/src/lib/api.ts
  frontend/tests/e2e/library-scanning.spec.ts
  pyproject.toml
  tests/api/test_library_scan.py
  tests/conftest.py
  tests/services/test_importer.py
  uv.lock
Due: eslint, prettier, typescript

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Claude Code GitHub Workflow (#24)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

adding an orchestrator agent
  .claude/agents/feature-orchestrator.md
Due: none

implementing suggestions from claude
  .claude/agents/feature-orchestrator.md
Due: none

-
  .claude/agents/feature-orchestrator.md
Due: none

adding an orchestrator agent (#25)
  .claude/agents/feature-orchestrator.md
Due: none

feat(LL-5): implement automatic library path scanning via background jobs
  .gitignore
  CLAUDE.md
  backend/kiremisu/api/jobs.py
  backend/kiremisu/database/connection.py
  backend/kiremisu/database/schemas.py
  backend/kiremisu/main.py
  backend/kiremisu/services/job_scheduler.py
  backend/kiremisu/services/job_worker.py
  frontend/src/app/(app)/settings/page.tsx
  frontend/src/components/settings/job-status-dashboard.tsx
  frontend/src/components/settings/library-paths.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/job-status-badge.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/utils.ts
  frontend/tests/e2e/job-status.spec.ts
  frontend/tests/e2e/library-paths-job-integration.spec.ts
  tests/api/test_jobs.py
  tests/api/test_library_paths.py
  tests/conftest.py
  tests/services/test_job_scheduler.py
  tests/services/test_job_worker.py
Due: eslint, prettier, typescript

fix: address PR feedback - improve transaction safety and dependency injection
  CLAUDE.md
  backend/kiremisu/api/jobs.py
  backend/kiremisu/services/job_worker.py
  frontend/src/components/settings/job-status-dashboard.tsx
  frontend/src/components/settings/library-paths.tsx
  tests/integration/__init__.py
  tests/integration/test_job_system_e2e.py
Due: eslint, prettier, typescript

feat(LL-5): implement automatic library path scanning via background jobs (#27)
  .gitignore
  CLAUDE.md
  backend/kiremisu/api/jobs.py
  backend/kiremisu/database/connection.py
  backend/kiremisu/database/schemas.py
  backend/kiremisu/main.py
  backend/kiremisu/services/job_scheduler.py
  backend/kiremisu/services/job_worker.py
  frontend/src/app/(app)/settings/page.tsx
  frontend/src/components/settings/job-status-dashboard.tsx
  frontend/src/components/settings/library-paths.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/job-status-badge.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/utils.ts
  frontend/tests/e2e/job-status.spec.ts
  frontend/tests/e2e/library-paths-job-integration.spec.ts
  tests/api/test_jobs.py
  tests/api/test_library_paths.py
  tests/conftest.py
  tests/integration/__init__.py
  tests/integration/test_job_system_e2e.py
  tests/services/test_job_scheduler.py
  tests/services/test_job_worker.py
Due: eslint, prettier, typescript

feat: implement separate coverage reports for different test suites (#26) (#28)
  Makefile
  README.md
  pyproject.toml
  scripts/compare_coverage.py
  tests/api/test_jobs.py
  tests/api/test_library_paths.py
  tests/api/test_library_scan.py
  tests/services/test_filesystem_parser.py
  tests/services/test_library_path.py
Due: none

fix: integrate reader API with frontend after rebase
  frontend/debug-job-status-after-wait.png
  frontend/src/components/reader/manga-reader.tsx
  frontend/src/lib/api.ts
  frontend/tests/e2e/reader-smoke.spec.ts
Due: eslint, prettier, typescript

feat: implement R-1 page streaming reader and resolve code quality issues (closes #6, #20)
  R1-VALIDATION-REPORT.md
  backend/kiremisu/api/library.py
  backend/kiremisu/api/series.py
  backend/kiremisu/core/error_handler.py
  backend/kiremisu/core/rate_limiter.py
  backend/kiremisu/database/schemas.py
  backend/kiremisu/main.py
  backend/kiremisu/services/library_path.py
  frontend/tsconfig.json
  manga-storage/Test Series/Chapter 001/page_01.png
  manga-storage/Test Series/Chapter 001/page_02.png
  manga-storage/Test Series/Chapter 001/page_03.png
  manga-storage/Test Series/Chapter 001/page_04.png
  manga-storage/Test Series/Chapter 001/page_05.png
  manual-r1-validation.py
  pyproject.toml
  scripts/run-comprehensive-e2e.sh
  tests/e2e/comprehensive-r1-validation.spec.ts
  validate-r1-functionality.sh
Due: prettier

feat(R-2): implement mark-read functionality and reading progress tracking
  backend/kiremisu/api/chapters.py
  backend/kiremisu/api/dashboard.py
  backend/kiremisu/api/series.py
  backend/kiremisu/core/error_handler.py
  backend/kiremisu/core/rate_limiter.py
  backend/kiremisu/database/models.py
  backend/kiremisu/database/schemas.py
  backend/kiremisu/main.py
  backend/kiremisu/services/library_path.py
  create_test_data.py
  frontend/jest.config.js
  frontend/package.json
  frontend/src/app/(app)/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/library/chapter-list.tsx
  frontend/src/components/library/series-card.tsx
  frontend/src/components/ui/mark-read-button.tsx
  frontend/src/components/ui/progress-bar.tsx
  frontend/src/lib/api.ts
  frontend/tests/e2e/reader-smoke.spec.ts
  frontend/tests/e2e/reading-progress-visibility.spec.ts
  frontend/tests/unit/progress-components.test.tsx
  manual-r1-validation.py
  scripts/compare_coverage.py
  tests/R2_TESTING_DOCUMENTATION.md
  tests/api/test_mark_read_progress.py
  tests/api/test_reader_progress_integration.py
  tests/integration/test_mark_read_workflow.py
  tests/performance/test_progress_performance.py
Due: eslint, prettier, typescript

feat(R-2): implement mark-read functionality and reading progress tracking (#30)
  backend/kiremisu/api/chapters.py
  backend/kiremisu/api/dashboard.py
  backend/kiremisu/api/series.py
  backend/kiremisu/core/error_handler.py
  backend/kiremisu/core/rate_limiter.py
  backend/kiremisu/database/models.py
  backend/kiremisu/database/schemas.py
  backend/kiremisu/main.py
  backend/kiremisu/services/library_path.py
  create_test_data.py
  frontend/jest.config.js
  frontend/package.json
  frontend/src/app/(app)/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/library/chapter-list.tsx
  frontend/src/components/library/series-card.tsx
  frontend/src/components/ui/mark-read-button.tsx
  frontend/src/components/ui/progress-bar.tsx
  frontend/src/lib/api.ts
  frontend/tests/e2e/reader-smoke.spec.ts
  frontend/tests/e2e/reading-progress-visibility.spec.ts
  frontend/tests/unit/progress-components.test.tsx
  manual-r1-validation.py
  scripts/compare_coverage.py
  tests/R2_TESTING_DOCUMENTATION.md
  tests/api/test_mark_read_progress.py
  tests/api/test_reader_progress_integration.py
  tests/integration/test_mark_read_workflow.py
  tests/performance/test_progress_performance.py
Due: eslint, prettier, typescript

feat: migrate to uv as comprehensive Python toolchain replacement
  .claude/agents/fastapi-backend-architect.md
  .claude/agents/feature-orchestrator.md
  .claude/agents/qa-test-specialist.md
  .claude/agents/react-frontend-developer.md
  CLAUDE.md
  backend/Dockerfile.dev
  backend/alembic/versions/8b7fa7ea0263_add_database_constraints_for_job_queue_.py
  backend/alembic/versions/ad321789d335_add_compound_indexes_for_job_queue_.py
  backend/kiremisu/api/jobs.py
  backend/kiremisu/database/models.py
  backend/kiremisu/database/schemas.py
  backend/kiremisu/services/job_scheduler.py
  backend/kiremisu/services/job_worker.py
  frontend/Dockerfile.dev
  frontend/src/app/(app)/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/library/chapter-list.tsx
  frontend/src/components/settings/library-paths.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/job-status-badge.tsx
  scripts/dev.sh
  scripts/run-comprehensive-e2e.sh
  tests/api/test_jobs.py
  tests/integration/test_job_system_e2e.py
  tests/services/test_job_scheduler.py
  tests/services/test_job_worker.py
  validate_job_system.py
Due: eslint, prettier, typescript

updating based on feadback
  backend/alembic/versions/8b7fa7ea0263_add_database_constraints_for_job_queue_.py
  backend/alembic/versions/ad321789d335_add_compound_indexes_for_job_queue_.py
  backend/kiremisu/api/jobs.py
  backend/kiremisu/database/models.py
  backend/kiremisu/database/schemas.py
  backend/kiremisu/services/job_scheduler.py
  backend/kiremisu/services/job_worker.py
  frontend/jest.config.js
  frontend/src/components/library/chapter-list.tsx
  frontend/src/components/settings/library-paths.tsx
  tests/api/test_jobs.py
  tests/integration/test_job_system_e2e.py
  tests/services/test_job_scheduler.py
  tests/services/test_job_worker.py
  validate_job_system.py
Due: eslint, prettier, typescript

[BQ-1] Implement PostgreSQL-based background job system with uv migration (#31)
  .claude/agents/fastapi-backend-architect.md
  .claude/agents/feature-orchestrator.md
  .claude/agents/qa-test-specialist.md
  .claude/agents/react-frontend-developer.md
  CLAUDE.md
  backend/Dockerfile.dev
  backend/alembic/versions/8b7fa7ea0263_add_database_constraints_for_job_queue_.py
  backend/alembic/versions/ad321789d335_add_compound_indexes_for_job_queue_.py
  backend/kiremisu/api/jobs.py
  backend/kiremisu/database/models.py
  backend/kiremisu/database/schemas.py
  backend/kiremisu/services/job_scheduler.py
  backend/kiremisu/services/job_worker.py
  frontend/Dockerfile.dev
  frontend/jest.config.js
  frontend/src/app/(app)/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/library/chapter-list.tsx
  frontend/src/components/settings/library-paths.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/job-status-badge.tsx
  scripts/dev.sh
  scripts/run-comprehensive-e2e.sh
  tests/api/test_jobs.py
  tests/integration/test_job_system_e2e.py
  tests/services/test_job_scheduler.py
  tests/services/test_job_worker.py
  validate_job_system.py
Due: eslint, prettier, typescript

feat(TL-1): implement comprehensive tagging system for manga organization
  backend/alembic/versions/dd79f52da30b_add_tags_and_series_tags_tables.py
  backend/kiremisu/api/series.py
  backend/kiremisu/api/tags.py
  backend/kiremisu/database/models.py
  backend/kiremisu/database/schemas.py
  backend/kiremisu/main.py
  frontend/src/app/(app)/library/series/[seriesId]/page.tsx
  frontend/src/components/library/series-card.tsx
  frontend/src/components/tags/index.ts
  frontend/src/components/tags/series-tag-editor.tsx
  frontend/src/components/tags/tag-chip.tsx
  frontend/src/components/tags/tag-input.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/lib/api.ts
  frontend/tests/e2e/tagging-system.spec.ts
  tests/api/test_tags.py
Due: eslint, prettier, typescript

feat(MD-1): implement MangaDx API integration for search and metadata import
  CLAUDE.md
  backend/kiremisu/api/mangadx.py
  backend/kiremisu/database/schemas.py
  backend/kiremisu/main.py
  backend/kiremisu/services/mangadx_client.py
  backend/kiremisu/services/mangadx_import.py
  docker-compose.dev.yml
  pyproject.toml
  tests/api/test_mangadx.py
  tests/services/test_mangadx_client.py
  tests/services/test_mangadx_import.py
  uv.lock
Due: none

feat(AN-1): implement complete page annotation system for manga reader
  CLAUDE.md
  backend/alembic/versions/09c754a38e7a_add_position_and_color_fields_to_.py
  backend/kiremisu/api/annotations.py
  backend/kiremisu/database/models.py
  backend/kiremisu/database/schemas.py
  backend/kiremisu/main.py
  frontend/src/components/annotations/annotation-drawer.tsx
  frontend/src/components/annotations/annotation-form.tsx
  frontend/src/components/annotations/annotation-marker.tsx
  frontend/src/components/annotations/index.ts
  frontend/src/components/reader/manga-reader.tsx
  frontend/src/lib/api.ts
  frontend/tests/e2e/annotations.spec.ts
  tests/api/test_annotations.py
  tests/conftest.py
Due: eslint, prettier, typescript

fix: update GitHub Actions permissions for Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: none

feat(TL-1): implement comprehensive tagging system for manga organization (#32)
  backend/alembic/versions/add_tag_color_constraint.py
  backend/alembic/versions/dd79f52da30b_add_tags_and_series_tags_tables.py
  backend/kiremisu/api/series.py
  backend/kiremisu/api/tags.py
  backend/kiremisu/database/models.py
  backend/kiremisu/database/schemas.py
  backend/kiremisu/main.py
  frontend/src/app/(app)/library/series/[seriesId]/page.tsx
  frontend/src/components/library/series-card.tsx
  frontend/src/components/tags/index.ts
  frontend/src/components/tags/series-tag-editor.tsx
  frontend/src/components/tags/tag-chip.tsx
  frontend/src/components/tags/tag-input.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/lib/api.ts
  frontend/tests/e2e/tagging-system.spec.ts
  tests/api/test_tags.py
Due: eslint, prettier, typescript

feat(MD-1): implement MangaDx API integration for search and metadata import (#33)
  CLAUDE.md
  backend/kiremisu/api/mangadx.py
  backend/kiremisu/database/schemas.py
  backend/kiremisu/main.py
  backend/kiremisu/services/mangadx_client.py
  backend/kiremisu/services/mangadx_import.py
  docker-compose.dev.yml
  pyproject.toml
  tests/api/test_mangadx.py
  tests/services/test_mangadx_client.py
  tests/services/test_mangadx_import.py
  uv.lock
Due: none

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
