Repository Karmicjuju/KireMisu: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bash -c 'cd frontend && npm run format:check'
  language: system
  pass_filenames: false

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

fix: resolve persistent loading spinner in Downloads page
  frontend/src/app/(app)/downloads/page.tsx
  frontend/src/components/downloads/download-queue.tsx
  frontend/src/hooks/use-downloads.ts
Due: eslint, prettier, typescript

addidng claude docs
  .claude/docs/kiremisu_architecture_patterns.md
  .claude/docs/kiremisu_development_standards.md
  .claude/docs/kiremisu_implementation_checklist.md
  .claude/docs/kiremisu_prd.md
  .claude/docs/kiremisu_project_structure.md
  .claude/docs/kiremisu_quick_reference.md
  .claude/docs/kiremisu_tech_stack.md
Due: none

adding dev container
  .devcontainer/Dockerfile.backend
  .devcontainer/Dockerfile.frontend
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/scripts/init-db.sql
  .devcontainer/scripts/post-create.sh
  .devcontainer/scripts/post-start.sh
Due: none

core folder structure
  .dockerignore
  .mcp.json
  .pre-commit-config.yaml
  README.md
  backend/app/__init__.py
  backend/app/api/__init__.py
  backend/app/api/v1/__init__.py
  backend/app/api/v1/endpoints/__init__.py
  backend/app/core/__init__.py
  backend/app/db/__init__.py
  backend/app/models/__init__.py
  backend/app/repositories/__init__.py
  backend/app/schemas/__init__.py
  backend/app/services/__init__.py
  backend/app/workers/__init__.py
  backend/tests/__init__.py
  backend/tests/fixtures/__init__.py
  backend/tests/integration/__init__.py
  backend/tests/unit/__init__.py
  docker-compose.prod.yml
  docker-compose.yml
Due: none

init claude.md
  CLAUDE.md
Due: none

workflow
  .claude/prompts/phase-1-plan.md
  .claude/prompts/phase-2-execute.md
  .claude/prompts/phase-3-test.md
  .claude/prompts/phase-4-refactor.md
  .claude/prompts/phase-5-integrate.md
  .claude/workflow.md
  CLAUDE.md
Due: none

addressing concerns
  .env.example
  docker-compose.yml
Due: none

setting up the core backend
  backend/Dockerfile
  backend/app/api/v1/endpoints/health.py
  backend/app/core/config.py
  backend/app/db/database.py
  backend/app/main.py
  backend/pyproject.toml
Due: none

feat: Add authentication system with login page
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/main.py
  backend/pyproject.toml
  docker/postgres/init.sql
  frontend/package.json
  frontend/src/app/login/page.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/lib/api.ts
Due: eslint, prettier, typescript

auth page
  .claude/agents/security-auditor.md
  .claude/agents/security-remediation-specialist.md
  backend/.claude/agents/fastapi-python-dev.md
  backend/.env.example
  backend/app/api/v1/endpoints/auth.py
  backend/app/core/config.py
  backend/app/db/init_db.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/user.py
  backend/app/repositories/__init__.py
  backend/app/repositories/user.py
  backend/app/schemas/__init__.py
  backend/app/schemas/user.py
  backend/app/services/user.py
  backend/init_admin.py
  backend/pyproject.toml
  backend/security_check.py
  backend/test_auth.py
  backend/tests/conftest.py
  backend/tests/unit/test_repositories/test_user.py
  backend/uv.lock
Due: none

add backend agent
  .claude/agents/fastapi-python-dev.md
Due: none

F4.1 complete
  .claude/agents/prd-feature-analyzer.md
  atomic-features-20250902.md
  backend/app/models/__init__.py
  backend/app/models/chapter.py
  backend/app/models/series.py
  backend/app/models/user.py
  backend/pyproject.toml
  backend/tests/unit/test_models.py
  backend/uv.lock
Due: none

feat: Complete series management system with comprehensive security
  .claude/docs/UImock.png
  CLAUDE.md
  atomic-features-20250902.md
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/series.py
  backend/app/core/config.py
  backend/app/core/rate_limit.py
  backend/app/repositories/series.py
  backend/app/schemas/series.py
  backend/app/services/series.py
  backend/security_validation_test.py
  backend/tests/conftest.py
  backend/tests/unit/test_repositories/test_series.py
  backend/tests/unit/test_repositories/test_series_repository.py
  backend/tests/unit/test_services/test_series_service.py
Due: none

fix: Implement critical security fixes for F5.3 Navigation Structure
  frontend/next.config.js
  frontend/src/app/login/page.tsx
  frontend/src/components/navigation/TopHeader.tsx
  frontend/src/lib/api.ts
  frontend/src/middleware.ts
Due: eslint, prettier, typescript

fix: Improve navigation UI consistency and authentication integration
  atomic-features-20250902.md
  backend/app/api/v1/endpoints/auth.py
  backend/app/main.py
  frontend/package.json
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/library/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/navigation/NavigationLayout.tsx
  frontend/src/components/navigation/Sidebar.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/tooltip.tsx
Due: eslint, prettier, typescript

feat: Complete F2.1 Basic User Authentication with registration and password validation
  backend/app/api/v1/endpoints/auth.py
  backend/app/schemas/user.py
  backend/tests/unit/test_auth_endpoints.py
  backend/tests/unit/test_repositories/test_user.py
Due: none

feat: Complete F2.1 Basic User Authentication with registration and password validation
  CLAUDE.md
  atomic-features-20250902.md
Due: none

feat: Complete F5.1 Frontend Application Setup with dark/light theme toggle
  atomic-features-20250902.md
  frontend/package.json
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/navigation/Sidebar.tsx
  frontend/src/components/navigation/TopHeader.tsx
  frontend/src/components/providers/ThemeProvider.tsx
  frontend/src/components/ui/ThemeToggle.tsx
  frontend/tailwind.config.ts
Due: eslint, prettier, typescript

feat: Complete F5.2 Authentication UI with comprehensive security fixes
  atomic-features-20250902.md
  backend/app/api/v1/endpoints/auth.py
  frontend/package.json
  frontend/src/app/layout.tsx
  frontend/src/app/library/page.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/auth/ProtectedRoute.tsx
  frontend/src/components/auth/UserMenu.tsx
  frontend/src/components/navigation/NavigationLayout.tsx
  frontend/src/components/navigation/TopHeader.tsx
  frontend/src/components/providers/AuthProvider.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/auth-store.ts
Due: eslint, prettier, typescript

feat: Complete FastAPI-Users authentication system with comprehensive UI
  atomic-features-20250902.md
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/health.py
  backend/app/api/v1/endpoints/series.py
  backend/app/core/config.py
  backend/app/db/database.py
  backend/app/init_admin.py
  backend/app/main.py
  backend/app/models/user.py
  backend/app/repositories/__init__.py
  backend/app/repositories/user.py
  backend/app/schemas/__init__.py
  backend/app/schemas/user.py
  backend/app/services/user.py
  backend/app/users.py
  backend/pyproject.toml
  backend/tests/test_auth.py
  backend/tests/test_basic_auth.py
  backend/tests/test_integration.py
  backend/uv.lock
  cookies.txt
  docker-compose.yml
  frontend/public/favicon.ico
  frontend/public/sw.js
  frontend/src/app/login/page.tsx
  frontend/src/components/auth/ProtectedRoute.tsx
  frontend/src/components/providers/AuthProvider.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/auth-store.ts
  frontend/src/middleware.ts
  tests/conftest.py
  tests/test_auth.py
  tests/test_integration.py
Due: eslint, prettier, typescript

fix: implement automatic authentication redirect with security improvements
  CHANGELOG.md
  CLAUDE.md
  atomic-features-20250902.md
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/storage.py
  backend/app/db/init_db.py
  backend/app/models/__init__.py
  backend/app/models/storage_path.py
  backend/app/schemas/storage.py
  backend/app/services/file_format.py
  backend/app/services/library_scan.py
  backend/app/services/storage.py
  backend/tests/test_file_format.py
  backend/tests/test_library_scan.py
  backend/tests/test_storage.py
  backend/uv.lock
  frontend/package.json
  frontend/src/app/library/page.tsx
  frontend/src/app/library/series/[id]/page.tsx
  frontend/src/components/auth/ProtectedRoute.tsx
  frontend/src/components/library/ChapterList.tsx
  frontend/src/components/library/LibraryGrid.tsx
  frontend/src/components/library/SeriesCard.tsx
  frontend/src/components/library/SeriesDetail.tsx
  frontend/src/components/navigation/NavigationLayout.tsx
  frontend/src/components/providers/AuthProvider.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/toggle.tsx
  frontend/src/hooks/useSeries.ts
  frontend/src/lib/api.ts
  frontend/src/lib/auth-store.ts
  frontend/src/middleware.ts
Due: eslint, prettier, typescript

feat: implement F4.3 Manual Metadata Editing with comprehensive history tracking
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/chapters.py
  backend/app/api/v1/endpoints/series.py
  backend/app/models/__init__.py
  backend/app/models/chapter.py
  backend/app/models/metadata_history.py
  backend/app/models/user.py
  backend/app/repositories/chapter.py
  backend/app/repositories/metadata_history.py
  backend/app/repositories/series.py
  backend/app/repositories/series_async.py
  backend/app/schemas/chapter.py
  backend/app/schemas/metadata_history.py
  backend/app/services/chapter.py
  backend/app/services/metadata_history.py
  backend/app/services/series.py
  backend/tests/test_chapter_api.py
  backend/tests/test_chapter_service.py
  backend/tests/test_metadata_history.py
  backend/tests/test_series_enhanced.py
Due: none

feat: Complete F4.3 Manual Metadata Editing with comprehensive security
  atomic-features-20250902.md
  backend/app/api/v1/endpoints/chapters.py
  backend/app/api/v1/endpoints/series.py
  backend/app/core/rate_limit.py
  backend/app/main.py
  backend/app/models/series.py
  backend/app/repositories/chapter.py
  backend/app/repositories/metadata_history.py
  backend/app/services/chapter.py
  backend/app/services/series.py
  backend/tests/test_security_fixes.py
  backend/tests/test_security_fixes_unit.py
  cookies.txt
  frontend/package.json
  frontend/src/components/library/ChapterList.tsx
  frontend/src/components/library/SeriesDetail.tsx
  frontend/src/components/metadata/BulkEditDialog.tsx
  frontend/src/components/metadata/ChapterEditDialog.tsx
  frontend/src/components/metadata/MetadataHistory.tsx
  frontend/src/components/metadata/SeriesEditDialog.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/scroll-area.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/components/ui/toast.tsx
  frontend/src/components/ui/toaster.tsx
  frontend/src/hooks/use-toast.ts
  frontend/src/hooks/useMetadataEdit.ts
  frontend/src/hooks/useMetadataHistory.ts
  frontend/src/lib/api.ts
  frontend/src/lib/security.ts
  frontend/src/types/metadata.ts
Due: eslint, prettier, typescript

feat: Complete F3.1 Library Path Management with comprehensive testing and UI fixes
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/library_paths.py
  backend/app/models/library_path.py
  backend/app/repositories/library_path.py
  backend/app/schemas/library_path.py
  backend/app/services/library_path.py
  backend/tests/integration/test_library_paths_api.py
  backend/tests/unit/test_repositories/test_library_path.py
  backend/tests/unit/test_schemas/__init__.py
  backend/tests/unit/test_schemas/test_library_path_schemas.py
  backend/tests/unit/test_services/test_library_path_service.py
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/src/app/settings/library-paths/__tests__/page.test.tsx
  frontend/src/app/settings/library-paths/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/__tests__/test-setup.test.tsx
  frontend/src/components/file-browser/__tests__/file-browser-dialog.test.tsx
  frontend/src/components/file-browser/file-browser-dialog.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/lib/__tests__/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
Due: eslint, prettier, typescript

feat: Add remaining F3.1 dependencies and test structure
  backend/tests/unit/test_services/__init__.py
  frontend/package.json
Due: prettier

2
  .claude/docs/mocUI.png
  backend/app/repositories/user.py
  backend/app/services/user.py
Due: none

feat: Complete F6.2 Filtering System and F6.3 Sorting Options with comprehensive UI
  FILTERING_SORTING_IMPLEMENTATION.md
  atomic-features-20250902.md
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/filter_presets.py
  backend/app/api/v1/endpoints/series.py
  backend/app/main.py
  backend/app/models/filter_preset.py
  backend/app/repositories/filter_preset.py
  backend/app/repositories/series_async.py
  backend/app/schemas/filters.py
  backend/app/services/filter_preset.py
  backend/app/services/series.py
  backend/scripts/analyze_filter_performance.py
  backend/scripts/create_filter_presets_table.sql
  backend/tests/test_filter_presets_api.py
  backend/tests/test_series_filtering.py
  frontend/next.config.js
  frontend/package.json
  frontend/src/app/library/page.tsx
  frontend/src/app/settings/library-paths/page.tsx
  frontend/src/components/file-browser/file-browser-dialog.tsx
  frontend/src/components/library/FilterPanel.tsx
  frontend/src/components/library/LibraryGrid.tsx
  frontend/src/components/library/SortControls.tsx
  frontend/src/components/providers/AuthProvider.tsx
  frontend/src/components/ui/multi-select.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/auth-store.ts
  frontend/src/lib/filter-store.ts
  frontend/src/lib/types.ts
Due: eslint, prettier, typescript

feat: Complete F7.2 Reading Modes with single, double page, and vertical scroll support
  .claude/agents/feature-orchestrator.md
  atomic-features-20250902.md
  backend/app/services/reader.py
  backend/tests/test_reading_modes.py
  frontend/src/components/reader/MangaReader.tsx
  frontend/src/components/reader/ReaderControls.tsx
  frontend/src/components/reader/modes/DoublePageMode.tsx
  frontend/src/components/reader/modes/SinglePageMode.tsx
  frontend/src/components/reader/modes/VerticalScrollMode.tsx
  frontend/src/components/reader/modes/__tests__/ReadingModes.test.tsx
  frontend/src/lib/reader-store.ts
Due: eslint, prettier, typescript

add additional work
  atomic-features-20250902.md
Due: none

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
